.header {
  border: 1px solid #f90;
  color: green;
}

.div {
  color: red;
  border: 1px solid #f90;
  color: #ff0000;
  background-color:rgba(255,0,0,1);
}

.footer {
        box-sizing: border-box;
}

.content {
    color: #fff;
}


.lolol {
    opacity: 1;
}


/*lolololola lolololalal*/
